.header {
    border-bottom: 1px solid #ECECEC;

    &__btn {
        display: block;
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
        background-color: transparent;
        z-index: 2;
        color: var(--secondary-accent-color);

        &:hover,
        &:focus {
            color: var(--primary-accent-color);
        }           

        @media screen and (min-width: 768px) {
            display: none;            
        }
    }

    &__icon {
        fill: currentColor;
    }

    &__menu {
        @media screen and (max-width: 767px) {
        display: none;
        position: fixed;

        padding: 48px 40px;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;         

        background-color: #FFFFFF;

            &.is-open {
                display: flex;
                flex-direction: column;
                justify-content: space-between;                
            }
        }

        @media screen and (min-width: 768px) {
            width: 100%;
            display: flex;            
        }

        @media screen and (max-width: 1199px) and (orientation: landscape) {
            overflow-y: auto;
        }
    }

    &__container {
        display: flex;
        align-items: center;
    }
}

.header__btn .icon-menu-close {
    display: none;
}

.header__btn.is-open .icon-menu-close {
    display: block;
}

.header__btn.is-open .icon-menu-open {
    display: none;
}


.page-nav__list {
    display: block;    
    
    @media screen and (min-width: 768px) {
        display: flex;   
    }
}

.page-nav__contacts-list {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;    

    @media screen and (min-width: 768px) and (max-width: 1199px) {

        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
          margin-left: auto;
          flex-direction: row;
          margin-bottom: 0;
    }
}

.page-nav__item:not(:last-child) {
    @media screen and (min-width: 768px) {
        margin-right: 50px;
    } 
}
.page-nav__contacts-item:not(:last-child) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 10px;
    }
    
    @media screen and (min-width: 1200px) {
        margin-right: 50px;
    } 
}

.page-nav__item:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
    }
}

.page-nav__item:first-child {
    @media screen and (max-width: 767px) {
        margin-bottom: 36px;
    }
}

.page-nav__contacts-item:last-child {
    @media screen and (max-width: 767px) {
        margin-bottom: 32px;
    }    
}

.page-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;

    @media screen and (min-width: 768px) {
        line-height: 1.14;
        font-size: 14px;
    }
}

.page-nav__link {
    color: inherit;

    display: block;

    transition: color 250ms var(--timing-function);
    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &:hover, 
    &:focus {
        color: var(--primary-accent-color);
    }
}

.page-nav__contacts-link {
    color: var(--secondary-text-color-theme-light);

    display: flex;
    transition: color 250ms var(--timing-function);
    font-weight: 500;
    letter-spacing: 0.02em;  

    @media screen and (max-width: 767px) {
        color: var(--primary-accent-color);
        font-size: 34px;
        line-height: 1.17;
    }
        
    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.14;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &:hover, 
    &:focus {
        color: var(--primary-accent-color);
    }
}

.page-nav__contacts-link--smaller {
    @media screen and (max-width: 767px) {
        font-size: 24px;
        color: var(--secondary-text-color-theme-light);
    }
}

.page-nav__contacts-icon {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.link.current {
    @media screen and (min-width: 768px) {

        position: relative;

        &::after {
            position: absolute;
            content: '';
            margin: 0;
            bottom: 0;
            left: 0;
            
            height: 4px;
            width: 100%;
            background: var(--primary-accent-color);
            border-radius: 2px;
    
            transform: scaleX(1.1);
        }
    }
}

.icon-envelope {
    width: 16px;
    height: 16px;

    margin-right: 10px;
    fill: currentColor;   

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 14px;
        height: 14px;
        margin-right: 8px;
    }

    &:hover {
        fill: var(--primary-accent-color);
    }

    &:focus {
        fill: var(--primary-accent-color);
    }
}

.icon-smartphone {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 14px;
        height: 14px;
        margin-right: 8px;
    }    

    &:hover {
        fill: var(--primary-accent-color);
    }

    &:focus {
        fill: var(--primary-accent-color);
    }
}

.page-nav__social-list {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.page-nav__social-item {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    padding-right: 10px;
    padding-left: 10px;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

    &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}

.page-nav__social-link {
    color: var(--primary-accent-color);
}

.page-nav__info {
    @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;        
    }
}