:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    --primary-text-color-theme-light: #212121;
    --secondary-text-color-theme-light: #757575;

    --primary-text-color-theme-dark: #FFFFFF;
    --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
    
    --primary-accent-color: #2196F3;
    --secondary-accent-color: #000;

    --primary-background-color-dark: #2F303A;
    --primary-background-color-light: #FFFFFF;
    --secondary-background-color-light: #F5F4FA;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}